body {
    /*background-color: gray;*/
    background-image: url("../images/concrete_seamless.png")
}

header {
    background-color: #ffffff;
    width: 100%;
    border-bottom: 2px solid #dddddd;
}

main {
    max-width: 960px;
    background-color: #ffffff;
    border: 1px solid #dddddd; 
    margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	position: relative;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;

}

footer {
    background-color: #666666;
    width: 100%;
    border-top: 10px solid #4aaaa5;
}